@import 'vars';

.MyOrder {
	width: 360px;
	padding: 24px;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 60px;
	height: 94vh;
	background-color: var(--white);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 1px solid var(--black);
	overflow-y: scroll;
}
.title-container {
	display: flex;
	align-items: flex-start;
}
.title-container{
	cursor: pointer;
}
.title-container img {
	width: 1rem;
	transform: rotate(180deg);
	margin-right: 14px;
	
}
.title p{
	font-size: var(--lg);
	font-weight: bold;
}
.my-order-content-btn{
	width: 289px;
	height: 198px;
	position: fixed;
	bottom: 0vh;
	background-color: var(--white);
	border-top: 1px dotted var(--black);
}
.my-order-content-btn-space{
	height: 198px;
}
.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 24px;
	border-radius: 8px;
	padding: 0 24px;
}
.order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}

.primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
}
