
/* Here we define custom properties */
:root {
    --white: #f0f0f0;
    --black: #181818;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 0.875rem;
    --md: 1rem;
    --lg: 1.125rem;
}